*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 500px;
    width: 300px;
    padding: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: black;
    overflow: hidden;
}

form input{
    height: 150px;
    width: 100%;
    font-size: 3rem;
    border: none;
    border-radius: 12px;
    padding: 20px;
    color: white;
    background: #61677A;
    text-align: right;
    pointer-events: none;
   
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0px;
    border: 2px solid black;
    height: 52px;
    width: 60px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}

.btn-yellow{
    background-color:yellow;
}

.btn-grey{
    background-color:grey;
}
.btn-equal{
    background-color:green;
}
.btn-clear{
    background-color:green;
}